{
    margin:0;
    padding:0;
}

body{
    background: #3333;
    font-family: 'poppins',sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
}
.box{
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #00000;
   align-items : center;
   text-align:center;
}
img{
    width:300px ;
    height:200px ;
}